* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: 'montseratt', sans-seriff;
}

.App {
  background-image: url('./assets/backtround-1.jpg');
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}

/* Header */
#header {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Search-page */
.input-label {
  font-size: 20px;
}

#ingredient-input {
  /* margin-left: 12px;
  margin-right: 12px; */
  width: auto;
  padding: 8px;
  font-size: 20px
}

.add-ingredient-btn {
  font-size: 20px;
}

.ingredient-btn {
  /* margin-right: 6px; */
  font-size: 20px;
}
