* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: 'montseratt', sans-seriff;
}

.App {
  background-image: url('./assets/backtround-1.jpg');
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}

/* Header */
#header {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Search-page */
.input-label {
  font-size: 20px;
}

#ingredient-input {
  /* margin-left: 12px;
  margin-right: 12px; */
  width: auto;
  padding: 8px;
  font-size: 20px
}

.add-ingredient-btn {
  font-size: 20px;
}

.ingredient-btn {
  margin: 16px;
  font-size: 20px;
}

#btn-container {
  padding: 0;
}

/* Modal */

.modalBackdrop {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: #111111;
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
}